<p>This site is an eclectic set of (somewhat) famous quotes.  Today's quote of the day is as follows:</p>
<p>&nbsp;</p>

<h1><%= # QUOTE BODY GOES HERE %></h1><br>

<h2><%= # SOURCE GOES HERE %></h2>

<p>&nbsp;</p>
<%= link_to 'Refresh the page', home_path %>